<table>
  <thead>
    <tr>
      <th>Ride</th>
      <th>Tickets</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <th><%= attraction.name %></th>
        <th><%= attraction.tickets %></th>
        <th>
          <% if current_user.admin? %>
            <%= link_to "Show #{attraction.name}", attraction_path(attraction) %>
          <% else %>  
            <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Attraction', new_attraction_path %>
