<h1>New Attraction</h1>

<%= form_for(@attraction) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label :tickets%>
<%= f.password_field :tickets %><br>

<%= f.label :nausea_rating, 'Nausea level (1-5 scale)' %>
<%= f.text_field :nausea_rating %><br>

<%= f.label :happiness_rating, 'Happinness level (1-5 scale)' %>
<%= f.text_field :happiness_rating %><br>

<%= f.label :min_height, 'Min Height (in inches)' %>
<%= f.text_field :min_height %><br>

<br>
<%= f.submit "Create User"%>

<% end %>
